<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Patron Profile</title>
</head>
<body>
<h1>Patron Profile</h1>
<div th:if="${patron != null}">
    <p><strong>Name:</strong> <span th:text="${patron.getName()}"></span></p>
    <p><strong>Mail:</strong> <span th:text="${patron.getMail()}"></span></p>
    <p><strong>MembershipStatus:</strong> <span th:text="${patron.getMembershipStatus()} ? 'Active' : 'NotActive'"></span></p>
    <button class="delete-button" th:data-id="${patron.getId()}">Delete</button>
    <a th:href="@{'/bookProfile/edit/' + ${patron.getId()}}">Edit</a>
</div>

<script>

    document.addEventListener('click', function(event) {
        if (event.target.classList.contains('delete-button')) {
            const id = event.target.dataset.id;
            deletePatron(id);
        }
    });
    function deletePatron(patronId) {
        console.log(patronId)
        if (confirm("Are you sure you want to delete this book?")) {
            fetch('/patron/delete/' + patronId, {
                method: 'DELETE'
            })
                .then(response => {
                    if (response.ok) {
                        window.location.href = '/patron/list';
                    } else {
                        console.log("not supose to be here")
                    }
                })
                .catch(error => {
                    console.error('Error deleting book:', error);
                });
        }
    }
</script>
</body>
</html>